

body {
	padding: 2 0px;
}

#content {
	padding: 20px;
}

.updateButton {
	cursor: pointer;
}

#synchronizedLogo {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: green;
	min-width: 20px;
	min-height: 20px;
	padding: 5px;
	color: white;
}