

body {
	padding: 2 0px;
}

#content {
	padding: 20px;
}

.actionButton {
	cursor: pointer;
	width: 16px;
	height: 16px;
}


#rightHeader {
	position: absolute;
	top: 0px;
	right: 0px;
	min-width: 20px;
  min-height: 20px;
  color: white;
}

#rightHeader > span {
  padding: 5px;	
  margin-right: 5px;
  background-color: green;
}

#launchFullSynch {
	cursot: pointer;
}