

body {
	padding: 2 0px;
}

#content {
	padding: 20px;
}

.updateButton {
	cursor: pointer;
}

#rightHeader {
	position: absolute;
	top: 0px;
	right: 0px;
	min-width: 20px;
  min-height: 20px;
  color: white;
}

#synchronizedLogo {
  background-color: green;
	padding: 5px;
}

#onLineStatus {
	padding: 5px;
	background-color: green;
}