<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  
  <servlet>
    <servlet-name>getOrdersServlet</servlet-name>
    <servlet-class>getOrdersServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getOrdersServlet</servlet-name>
    <url-pattern>/getOrders</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>generateDefaultEntitiesServlet</servlet-name>
    <servlet-class>GenerateDefaultEntitiesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>generateDefaultEntitiesServlet</servlet-name>
    <url-pattern>/generateDefaultEntities</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getEntitiesServlet</servlet-name>
    <servlet-class>GetEntitiesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getEntitiesServlet</servlet-name>
    <url-pattern>/getEntities</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>getEntityServlet</servlet-name>
    <servlet-class>GetEntityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getEntityServlet</servlet-name>
    <url-pattern>/getEntity</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>removeEntityServlet</servlet-name>
    <servlet-class>RemoveEntityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>removeEntityServlet</servlet-name>
    <url-pattern>/removeEntity</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>updateEntityServlet</servlet-name>
    <servlet-class>UpdateEntityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>updateEntityServlet</servlet-name>
    <url-pattern>/updateEntity</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateEntities</servlet-name>
    <servlet-class>UpdateEntitiesServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdateEntities</servlet-name>
    <url-pattern>/updateEntities</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckSynchronization</servlet-name>
    <servlet-class>CheckSynchronizationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CheckSynchronization</servlet-name>
    <url-pattern>/checkSynchronization</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenerateRandomEntity</servlet-name>
    <servlet-class>GenerateRandomEntityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GenerateRandomEntity</servlet-name>
    <url-pattern>/generateRandomEntity</url-pattern>
  </servlet-mapping>
  
  
  <mime-mapping>
    <extension>mf</extension>
    <mime-type>text/cache-manifest</mime-type>
  </mime-mapping>
</web-app>
